# Creating Variables
To create variables, you need to assign value to it

In [1]:
x = 5
y = "Hello world"

In [2]:
print(x)
print(y)

5
Hello world

In [ ]:
x = 5
x = "Sally"
print(x)

In [ ]:
x = "John"
x = 'John'

In [ ]:
a = 4
A = "Sally"

# Data Types

Text Type:	`str`

Numeric Types:	`int`, `float`, `complex`

Boolean Type:	`bool`

`type()` function

In [ ]:
#String data type
my_name = "Brian"

#Integer data type
x = 5

#Float
y = 5.5

#Complex
z = 1+2j

#Boolean
state = True

## Python Castings

Type casting is a method used to change the variables/ values declared in a certain data type into a different data type to match the operation required to be performed by the code snippet.

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

## Python Strings: Basics and Operations

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

In [ ]:
print("Hello")
print('Hello')

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
a = "Hello"
print(a)

You can assign a multiline string to a variable by using three quotes:

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

### Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
b = "Hello, World!"
print(b[2:5])

In [ ]:
b = "Hello, World!"
print(b[:5])

In [ ]:
b = "Hello, World!"
print(b[2:])

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

In [ ]:
a = "Hello, World!"
print(a.upper())

In [ ]:
a = "Hello, World!"
print(a.lower())

### Math Operators on Numeric Types
1. Addition
2. Subtraction
3. Division
4. Floor Division
5. Multiplication
6. Modulus

In [ ]:
a = 3
b = 2

add = a + b
sub = a - b
div = a / b
floor_div = a // b
multiply = a * b
modulus = a % b

### Concatenating Strings and String Formatting
To concatenate, or combine, two strings you can use the + operator.

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

In [ ]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

## Booleans

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

Python supports the usual logical conditions from mathematics:

Equals: `a == b`

Not Equals: `a != b`

Less than: `a < b`

Less than or equal to: `a <= b`

Greater than: `a > b`

Greater than or equal to: `a >= b`

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

In [ ]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

## User Inputs
Python allows for user input.

That means we are able to ask the user for input.

In [ ]:
username = input("Enter username:")
print("Username is: " + username)

# Data Structures

Sequence Types:	`list`, `tuple`, `range`

Mapping Type:	`dict`

Set Types:	`set`, `frozenset`

### List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

### Tuple

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

### Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

In [ ]:
x = thisdict.get("model")

In [ ]:
x = thisdict.keys()

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

### Sets
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is both unordered and unindexed.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

# Conditionals
1. If
2. Elif
3. Else

An "if statement" is written by using the if keyword.

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

Indentation
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

The and keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

The or keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

In [ ]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

# Loops
1. For
2. While

### For Loops

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

In [ ]:
for x in "banana":
    print(x)

With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

### While Loops
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1

In [ ]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")